@font-face {
    font-family: "castorgate";
    src: url("/police/castorgate/CASTOR__.ttf") format("ttf");
}

@font-face {
    font-family: "night_still_comes";
    src: url("/police/night_still_comes/NightStillComes_bold_final_sample.otf") format("otf");
}